# supervisely==6.72.68
git+https://github.com/supervisely/supervisely.git@fix-serving-model-download-progress

# For CLIP:
torch>=1.10.2
git+https://github.com/openai/CLIP.git
ml_collections
clu
tensorflow
tensorflow-datasets
scikit-image
bokeh
matplotlib

# To import Sinkhorn matcher:
jax
ott-jax==0.2.0

# # code formatter
black
