supervisely==6.72.68

# For CLIP:
torch>=1.10.2
git+https://github.com/openai/CLIP.git
ml_collections
clu
tensorflow
tensorflow-datasets
scikit-image
bokeh
matplotlib

# To import Sinkhorn matcher:
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jax[cuda12_local]
ott-jax==0.2.0

# code formatter
black